// Primary colors
$clr-blue-950: hsl(256, 26%, 20%);
$clr-blue-500: hsl(216, 30%, 68%);

// Neutral colors
$clr-gray-950: hsl(270, 9%, 17%);
$clr-gray-700: hsl(273, 4%, 51%);
$clr-gray-50: hsl(0, 0%, 98%);
$clr-white: hsl(0, 0%, 100%);

// Typography
$font-main: "Karla", sans-serif;
$font-headings: "DM Serif Display", serif;
